<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>instalação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>Instalação</h1>

 <img src="assets/instal1.png" alt="">
  <hr>
 <img src="assets/instal2.png" alt="">
 
 <ion-button href="https://ionicframework.com/docs/installation/cli" routerDirection="" color="primary" fill="outline" size="small" type="submit" expand="block" round strong> 
   link
</ion-button>
  
</ion-content>