<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Componentes</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <!-- <ion-button expand="full" (click)="abrirPagina('layout-header-footer')">Header e footer</ion-button>
    <ion-button expand="full" (click)="abrirPagina('layout-tabs')">Tabs</ion-button>
    <ion-button expand="full" (click)="abrirPagina('layout-menu')">Menu</ion-button>
    <ion-button expand="full" (click)="abrirPagina('layout-split')">Split Pane</ion-button>
    <ion-button expand="full" (click)="abrirPagina('layout-grid')">Grid</ion-button>
    <ion-button expand="full" (click)="abrirPagina('layout-css')">CSS Utilities</ion-button> -->
  </ion-content>