<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>layout</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="openLayoutHeaderFooter()">Header e footer</ion-button>
  <ion-button expand="full" (click)="openLayoutTabs()">Tabs</ion-button>
  <ion-button expand="full" (click)="openLayoutMenu()">Menu</ion-button>
  <ion-button expand="full" (click)="openLayoutSplit()">Split Pane</ion-button>
</ion-content>