<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <h1>Curso ionic 4</h1>
  <p>A ideia que este app seja um guia de referência para os desenvolvedores. </p> -->
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Wagner Paulo</ion-card-subtitle>
        <ion-card-title>Curso ionic 4</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
          A ideia que este app seja um guia de referência para os desenvolvedores.
      </ion-card-content>
    </ion-card>
    
</ion-content>