<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Layout - CSS utilities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
          <ion-col>
            <div text-start>
              <h3>text-start</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
          <ion-col>
            <div text-end>
              <h3>text-end</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
          <ion-col>
            <div text-center>
              <h3>text-center</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div text-justify>
              <h3>text-justify</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
          <ion-col>
            <div text-wrap>
              <h3>text-wrap</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
            </div>
          </ion-col>
          <ion-col>
            <div text-nowrap>
              <h3>text-nowrap</h3>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
          <ion-row>
            <ion-col>
              <div text-uppercase>
                <h3>text-uppercase</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
              </div>
            </ion-col>
            <ion-col>
              <div text-lowercase>
                <h3>text-lowercase</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
              </div>
            </ion-col>
            <ion-col>
              <div text-capitalize>
                <h3>text-capitalize</h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac vehicula lorem.
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
  <div text-sm-center text-md-left text-lg-end>
    <h3>Trabalhando com responsividade</h3>
  </div>
</ion-content>